#root {
  max-width: 12800px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.box label{
  display: block;
  margin-bottom: 5px;
}

.box {
  margin-bottom: 20px;
}
